# MinIO
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=raw
MINIO_LOCAL_DIR=/tmp/minio_downloads
MINIO_DOWNLOAD_WORKERS=8

# Snowflake
SNOWFLAKE_USER=<<USER_NAME>>
SNOWFLAKE_PASSWORD=<<PASSWORD>>
SNOWFLAKE_ACCOUNT=<<ACCOUNT>>
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DB=banking
SNOWFLAKE_SCHEMA=raw
SNOWFLAKE_PUT_PARALLEL=8

# Apache Superset
SUPERSET_HOST=superset
SUPERSET_PORT=8088
SUPERSET_URL=http://superset:8088
SUPERSET_DB_NAME=Snowflake Banking
SUPERSET_BI_SCHEMA=ANALYTICS
SUPERSET_AUTO_PROVISION=true
SUPERSET_API_USERNAME=admin
SUPERSET_API_PASSWORD=admin
SUPERSET_API_TIMEOUT_SECONDS=90
SUPERSET_API_RETRIES=3
